/** @format */

/*
Colors
#d65a31 [orange]
aqua 
*/

/* website */
ul {
	list-style-type: none;
	border-radius: 25px;
	background-color: aqua;
	margin: 1%;
	padding: 0px;
	width: auto;
	height: auto;
	overflow: hidden;
}

ul li {
	float: left;
}

ul li a {
	display: block;
	color: #232e41;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ul li a:hover {
	background-color: #232e41;
	/* 393E46 */
	color: aqua;
}

hr #hr_test {
	background-color: aqua;
	height: 2px;
	border: none;
}

#page-container {
	position: relative;
	min-height: 100vh;
}

#content-wrap {
	padding-bottom: fit-content(20em);
	/* Footer height [2.5rem][auto][fit-content(20em)]*/
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: fit-content(20em);
	/* Footer height */
	background-color: #393e46;
	text-align: center;
	font-size: x-small;
}

body {
	/*cursor: url("/png/cool_pumpkin.png"), auto;*/
	font-family: sans-serif;
	/* [sans-serif][Papyrus] */
	background-color: black;
	color: aqua;
	/* d65a31 */
	text-align: center;
}

h1 {
	text-align: center;
}

a {
	color: white;
}

footer a {
	color: aqua;
}

#start {
	text-align: center;
	animation: fade 1s ease-in 0s infinite alternate-reverse forwards;
}

@keyframes fade {
	0% {
		opacity: 0.25;
	}

	100% {
		opacity: 1;
	}
}

/* pong */
@font-face {
	font-family: customfont;
	src: url("/custom fonts/SummerPixel22Regular-jE0W7.ttf");
}

#gameContainer {
	font-family: "customfont";
	text-align: center;
}

#gameBoard {
	border: 3px solid;
}

#scoreText {
	font-size: 100px;
}

#resetBtn {
	font-size: 22px;
	width: 100px;
	height: 50px;
	border: 4px solid;
	border-radius: 15px;
	cursor: pointer;
}